@model Samana.ViewModels.LedenViewModel

<script>
    function lidsoortSelect(e) {
        $(zoekopsoortform).submit();
        $.post('@Url.Action("Index","Leden")', { soortId: $(e).val() });
    }
    function RemovePerson(id) {
        if (confirm("Verwijder persoon?")) {
            $.post('@Url.Action("RemoveNoodPersoon","Leden")', { id: parseInt(id) })
            location.reload();
        }
        else {
            return false;
        }
    }
    var pageId = 0;
    $(document).ready(function () {
        $("#loadingdiv").hide();
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                GetData();
            }
        });
    })

    var _inCallBack = false;
    function GetData() {
        console.log(pageId);
        if (pageId > -1 && !_inCallBack) {
            _inCallBack = true;
            pageId++;
            $("#loadingdiv").show();
            $.get("Leden/Index/" + pageId, function (data) {
                if (data != '') {
                    $("#ledendiv").append(data);
                }
                else {
                    pageId = -1;
                }

                console.log(pageId);
                _inCallBack = false;
                $("#loadingdiv").hide();
            });
        }
    }
</script>
<div class="container col-lg-12">
    <div class="col-lg-3 container">
        <div class="panel-group" id="algemeenpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#" href="#algemeen">
                            Algemeen
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="algemeen">
                    <div class="panel-body">
                        <input type="button" value="Nieuw lid aanmaken" onclick="location.href='@Url.Action("Create", "Leden")'" />
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#" href="#options">
                            Info
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="options">
                    <div class="panel-body">

                        @*info over de getoonde leden*@
                        <div>
                            <p>
                                @{string aantalleden = " leden";
                                    switch (TempData["aantalLeden"] as int?)
                                    {
                                        case 1:
                                            aantalleden = " lid";
                                            <img src="~/Img/Icons/User Male@2x.png" /> @TempData["aantalLeden"] @aantalleden;
                                            break;
                                        case 2:
                                            <img src="~/Img/Icons/Users 1@2x.png" /> @TempData["aantalLeden"] @aantalleden;
                                            break;
                                        default:
                                            <img src="~/Img/Icons/Users 2@2x.png" /> @TempData["aantalLeden"] @aantalleden;
                                            break;
                                    }
                                }
                            </p>

                        </div>
                        <div>
                            <p><b>Oudste lid: </b><i>@TempData["oudstelid"]</i></p>
                        </div>
                        <div>
                            <p><b>Jongste lid: </b><i>@TempData["jongstelid"]</i></p>
                        </div>
                        <div>
                            <p><b>kernleden: </b><i>@TempData["aantalkernleden"]</i></p>
                        </div>
                        <div>
                            <p><b>medewerkers:</b> <i> @TempData["aantalmedewerkers"]</i></p>
                        </div>
                        <div>
                            <p><b>gewone leden: </b> <i> @TempData["aantalgewoneleden"]</i></p>
                        </div>
                        <div>
                            <p><b>vrouwen: </b> <i> @TempData["aantalvrouwen"]</i></p>
                        </div>
                        <div>
                            <p><b>mannen: </b> <i> @TempData["aantalmannen"]</i></p>
                        </div>
                        @*einde info over getoonde leden*@

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel-group" id="zoeken-panel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#zoeken-panel" href="#zoeken">
                            Zoeken
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="zoeken">
                    <div class="panel-body">
                 
                        <table>
                            <tbody>
                                <tr>
                                    <td style="width:33%;">
                                        @*toon alle leden*@
                                        <label>Toon alle leden</label>
                                        <button onclick="location.href='@Url.Action("Index", "Leden")',ResetJs()"><img src="~/Img/Icons/Users 2.png" /></button>
                                        @*einde toon alle leden*@
                                    </td>

                                    <td style="width:33%;">
                                        @*zoeken op soort*@
                                        <label>Toon alle leden per soort</label>
                                        <form id="zoekopsoortform" method="post">
                                            <select onchange="lidsoortSelect(this)" name="soortId">
                                                <option>Kies een lidsoort</option>
                                                <option value="1">Alle Kernleden</option>
                                                <option value="2">Alle Medewerkers</option>
                                                <option value="3">Alle Gewone leden</option>
                                            </select>
                                        </form>
                                        @*einde zoeken op soort*@
                                    </td>

                                    <td style="width:33%;">
                                        @* Zoeken op naam *@
                                        <label>Zoeken op naam</label>
                                        <form method="post" action="@Url.Action("Index", "Leden")">
                                            <select name="tekstParam">
                                                <option value="Voornaam">Voornaam</option>
                                                <option value="Achternaam">Achternaam</option>
                                            </select>
                                            <input name="tekst" type="text" placeholder="Naam" />
                                            <button><img src="~/Img/Icons/Magnify Glass.png" /></button>
                                        </form>
                                        @*Einde zoeken op naam*@
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div id="ledendiv">
                @Html.Partial("~/Views/Partials/LedenData.cshtml", Model)
            </div>

            <div id="loadingdiv">
                <img src="~/Img/Icons/Loading_icon.gif" />
            </div>
        </div>
</div>
