@model Samana.ViewModels.LedenViewModel

<script>
    function lidsoortSelect(e) {
        $("#zoekopsoortform").submit();
        $.post('@Url.Action("Index","Leden")', { soortId: $(e).val() });
    }
    function RemovePerson(id) {
        if(confirm("Verwijder persoon?")){
            $.post('@Url.Action("RemoveNoodPersoon","Leden")', { id: parseInt(id) })
            location.reload();
        }
        else {
            return false;
        }
    }

</script>
<div class="container col-lg-12">


    <div class="col-lg-3 container">
        <div class="panel-group" id="algemeenpanel">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#" href="#algemeen">
                            Algemeen
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="algemeen">
                    <div class="panel-body">
                        <input type="button" value="Nieuw lid aanmaken" onclick="location.href='@Url.Action("Create", "Leden")'" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#" href="#options">
                            Zoeken
                        </a>
                    </h4>
                </div>
                <div class="panel-collapse collapse in" id="options">
                    <div class="panel-body">

                        @*info over de getoonde leden*@
                        @{string aantalleden = " leden";
                            switch (Model.Leden.Count())
                            {
                                case 1:
                                    if (Model.Leden.First().Geslacht == DataSource.Enums.Geslacht.man)
                                    {
                                        <img src="~/Img/Icons/User Male.png" />
                                    }
                                    else
                                    {
                                        <img src="~/Img/Icons/User Female.png" />
                                    }
                                    aantalleden = " lid";
                                    @Model.Leden.Count() @aantalleden;
                                    break;
                                case 2:
                                    <img src="~/Img/Icons/Users 1@2x.png" /> @Model.Leden.Count() @aantalleden;
                                    break;
                                default:
                                    <img src="~/Img/Icons/Users 2@2x.png" /> @Model.Leden.Count() @aantalleden;
                                    break;
                            }
                        }
                        @*einde info over getoonde leden*@





                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        @*toon alle leden*@
                        <h5>Toon alle leden</h5>
                        <button class="form-control" onclick="location.href='@Url.Action("Index", "Leden")'"><img src="~/Img/Icons/Users 2.png" /></button>
                        @*einde toon alle leden*@
                    </td>

                    <td>
                        @*zoeken op soort*@
                        <h5>Toon alle leden per soort</h5>
                        <form id="zoekopsoortform" method="post">
                            <select onchange="lidsoortSelect(this)" name="soortId" class="form-control">
                                <option>Kies een lidsoort</option>
                                <option value="1">Alle Kernleden</option>
                                <option value="2">Alle Medewerkers</option>
                                <option value="3">Alle Gewone leden</option>
                            </select>
                        </form>
                        @*einde zoeken op soort*@
                    </td>

                    <td>
                        @* Zoeken op naam *@
                        <h5>Zoeken op naam</h5>
                        <form method="post" action="@Url.Action("Index", "Leden")">
                            <select name="tekstParam" class="form-control">
                                <option value="Voornaam">Voornaam</option>
                                <option value="Achternaam">Achternaam</option>
                            </select>
                            <input name="tekst" type="text" class="form-control" placeholder="Naam" />
                            <button class="form-control"><img src="~/Img/Icons/Magnify Glass.png" /></button>
                        </form>
                        @*Einde zoeken op naam*@
                    </td>

                </tr>
            </tbody>
        </table>

        <div id="ledendiv">

            @if (Model.Leden != null)
            {


                <table class="table table-striped">
                    <thead>

                    </thead>
                    <tbody>


                        @foreach (var lid in Model.Leden)
                        {
                            <tr>
                                @if (lid != null)
                                {
                                    <td>
                                        @switch (lid.Geslacht)
                                        {
                                            case DataSource.Enums.Geslacht.man:
                                                <img src="~/Img/Icons/male_user_icon_64.png" />
                                                break;
                                            case DataSource.Enums.Geslacht.vrouw:
                                                <img src="~/Img/Icons/female_user_icon_64.png" />
                                                break;
                                            default:
                                                <img src="~/Img/Icons/male_user_icon_64.png">
                                                break;
                                        }

                                        <div>@lid.Voornaam @lid.Achternaam (@lid.Lidsoort)</div>



                                        
                                    </td>
                                    <td>
                                        @if (lid.NoodPersonen != null)
                                        {
                                            <h5><b><i>Noodpersonen:</i></b><button onclick="location.href='@Url.Action( "AddNoodPersoon", "Leden", new { id = @lid.Id })'" title="Voeg een noodpersoon toe" class="user-btn-transparant"><img src="~/Img/Icons/Add16.png" /></button></h5>
                                            <ul>
                                                @foreach (var pers in lid.NoodPersonen)
                                                {
                                                    <li>@pers.Voornaam @pers.Achternaam (@pers.Relatie):@pers.Nummer<button onclick="RemovePerson(@pers.Id)" title="Verwijder deze persoon" class="user-btn-transparant"><img src="~/Img/Icons/Trash16.png" /></button></li>
                                                }
                                            </ul>
                                        }
                                    </td>

                                    <td>
                                        
               
                                                                        
                                            @if (lid.MentorId != null || lid.MentorId > 0)
                                            {
                                                <h5><b><i>Mentor:</i></b></h5> @lid.Mentor
                                            }
                                            @if ((lid.MentorId == null || lid.MentorId == 0) && (lid.LidsoortId == 2 || lid.LidsoortId == 3))
                                            {
                                                
                                                    @Html.ActionLink("Kies een mentor", "SelectMentor", "Leden", new { id = @lid.Id }, null)
                                                
                                            }
                                       
                                            @if (lid.LidsoortId == 1)
                                            {
                                                <h5><b><i>Beschermelingen:</i></b></h5>
                                                <ul>
                                                    @foreach (var besch in lid.Beschermelingen)
                                                    {
                                                        <li>@besch.Voornaam @besch.Achternaam,</li>
                                                    }
                                                </ul>
                                            }
                                        

                                    </td>
                        <td>
                            <button type="button" class="user-btn-transparant" onclick="location.href='@Url.Action("Edit", "Leden", new { id = lid.Id })'" title="Lid Bewerken"><img src="~/Img/Icons/Wrench16.png" /></button>

                            <button type="button" class="user-btn-transparant" onclick="location.href='@Url.Action("Delete", "Leden", new { id = lid.Id })'" title="Lid Verwijderen"><img src="~/Img/Icons/Trash16.png" /></button>

                            @if (lid.LidsoortId == 1)
                            {
                                <button type="button" class="user-btn-transparant" onclick="location.href='@Url.Action("MentorToExcel", "Leden", new { id = lid.Id })'" title="Beschermelingen afdrukken"><img src="~/Img/Icons/Excel16.png" /></button>
                            }
                        </td>

                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
